body {
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  /* min-height: 100%; */
}

li {
  list-style: none;
  display: inline;
  padding-left: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #04202C;
  margin-bottom: 0;
  overflow: hidden;
  width: 100%;
  min-height: 75px;
  font-size: 20px;
}

.menu-icon {
  float: right;
  padding-right: 10px;
  margin-top: 0px;
}

.close-icon {
  display: block;
  float: right;
  padding-right: 10px;
  margin-top: 20px;
  height: 25px;
}

.index-link {
  margin-top: 25px;
  margin-left: 25px;
  float: left;
  display: block;
}

.menu-list {
  display: block;
  padding-left: 10px;
  float: right;
  margin-right: 10px;
}

.about-me, .contact-info, .projects-title{
  text-align: center;
  color: white;
}

h1 {
  display: block;
  font-size: 34px;
  padding-top: 10px;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

.profile-img{
  width: auto;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 25px;
}

.profile-description, .project-description{
  line-height: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.about-me{
  background-color: #304040;
  position: relative;
  min-height: 500px;
  overflow: hidden;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 36px;
  padding-top: 20px;
}

.contact-info{
  background-color: #5B7065;
  margin-top: -30px; 
  height: 250px;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
}

.contact-list{
  margin-left: -50px;
}

.contact-icon{
  width: 75px;
  height: 75px;
  margin-left: auto; 
  margin-right: auto;
}

.projects {
  background-color: #9DA39C;
  margin-top: -30px;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

.projects:nth-child(even) {
  background-color: #5B7065;
}

h3 {
  font-family: 'Space Mono', monospace;
  color: #fff;
  font-size: 26px;
  margin-bottom: -10px;
  display: block;
}

.project-description{
  display: block;
  text-align: center;
}

.project-link{
  font-size: 20px;
  display: inline-block;
  border: dotted #04202C;
  padding: 5px;
  margin-top: 10px;
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}

a{
  color: white;
  text-decoration: none;
}

.tech-icon{
  display: inline-block;
  width: auto;
  height: 50px;
}

.app-screenshot{
  width: auto;
  height: 200px;
  overflow: hidden;
  padding-top: 20px;
}

.resume-main{
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}


/****** FOR DESKTOP ******/
@media (min-width: 1025px) {  
  .navbar ul {
    float: right;
    padding-right: 25px;
    margin-top: 25px;
  }

  .index-link {
    margin-top: 25px;
    margin-left: 25px;
    display:inline-block;
  }

  .profile-img {
    height: 400px;
    float: left;
    margin-left: 5%;
    margin-bottom: 50px;
  }

  .profile-description {
    font-size: 24px;
    display: inline-block;
    width: 50%;
    text-align: left;
    line-height:50px;
    padding-top: 2.5%;
  }
  
  .projects {
    min-height: 725px;
  }

  .projects:nth-child(even) {
    background-color: #5B7065;
  }

  h3 {
    font-size: 28px;
    text-align: left;
  }

  .project-description {
    font-size: 22px;
    float: left;
    clear: both;
    width: 500px;
    text-align: left;
    line-height:50px;
    padding-top: 50px;
    padding-left: 2.5%;
  }

  .app-screenshot{
    float: right;
    height: 500px;
    width: 750px;
    margin-right: 100px;
    margin-bottom: 100px;
  }

  .resume-main{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
  }
}